<%- include("partials/header.ejs") %>
<div class="first">
  <div class="title">
    <h1 class="mainTitle">
      Welcome <br />
      to the <br />
      <p>Blogg!</p>
    </h1>
  </div>
  <img src="images/blog.png" alt="type" class="mainImg" />
</div>

<div class="second">
  <div class="line">
    <hr />
  </div>
  <div class="secondContent">
    <h2 class="yourPosts">Posts</h2>
    <div class="cards">
      <div class="card1">
        <h3 class="emailName">abhi123@gmail.com</h3>
        <h4 class="cardContent">
          The world's first computer, the ENIAC, weighed 27 tons and occupied a
          space of 1,800 square feet. The most expensive computer ever built,
          the IBM Sequoia, cost around $100 million. The world's first computer
          mouse was invented by Douglas Engelbart in 1964 and was made of wood.
        </h4>
      </div>

      <div class="card1">
        <h3 class="emailName">puneet3@gmail.com</h3>
        <h4 class="cardContent">
          Headlines should be clear and specific, telling the reader what the
          story is about, and be interesting enough to draw them into reading
          the article. Avoid repetition - Headlines summarize; they don't repeat
          the lede.
        </h4>
      </div>

      <div class="card1">
        <h3 class="emailName">tanishq2005@gmail.com</h3>
        <h4 class="cardContent">
          We live in a world where collaboration is essential, and technology
          has transformed how we collaborate. Businesses specifically benefit a
          lot from the collaborative advantages of technological innovations
          that allow communication from any part of the world through virtual
          means.
        </h4>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
